<div class="container-fluid mainContainer p-5">
    <h1 class="topBoldTitle">Created Quizzes</h1>
    <div class="row px-3 mt-5">
        <mat-form-field class="ml-auto" *ngIf="quizListDS.data.length > 0">
            <mat-label>Search</mat-label>
            <input matInput type="search" (keyup)="applyFilter($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <mat-spinner *ngIf="!isLoaded" class="mx-auto my-5"></mat-spinner>


    <table mat-table [dataSource]="quizListDS" matSort class="mat-elevation-z3">
        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="Code">
            <th mat-header-cell *matHeaderCellDef> Quiz Code </th>
            <td mat-cell *matCellDef="let element"> {{element.Code}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="CreatedDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
            <td mat-cell *matCellDef="let element"> {{element.CreatedDate.toString() + 'Z' | date:'d-MMM-YYYY, h:mm a'}}
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{getQuizStatus(element)}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="Link">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Link </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
                <button mat-flat-button class="darkBlue" (click)="getQuizLink(element)">
                    Copy Link
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="header-align-right"></th>
            <td mat-cell *matCellDef="let element" class="header-align-right">
                <button mat-flat-button class="green" [routerLink]="[ '../grades', element.Id ]" matTooltip="Grade">
                    Grade
                </button>
                <button mat-flat-button class="blue" [routerLink]="[ '../edit', element.Id ]" matTooltip="Edit">
                    Edit
                </button>
                <button mat-flat-button class="red" (click)="delete(element.Id)" matTooltip="Delete">
                    Delete
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="col emptyListCol" *ngIf="isLoaded">
        <h1 class="largeNote" *ngIf="quizListDS.data.length == 0">You do not have any quizzes yet</h1>
        <button mat-flat-button class="blue large newQuizButton" [routerLink]="'../create'">New Quiz</button>
    </div>
</div>
