.mainContainer {
  width: 80%;
  padding: 20px;
}

table {
  width: 100%;
  margin-bottom: 30px;
}

.mat-header-cell {
  font-size: 1.2em;
}

.mat-cell {
  font-size: 1.2em;
}

.header-align-right {
  text-align: right;
  justify-content: flex-end;
}

mat-form-field {
  width: 15vw;
  font-size: 1.5em;
}

.numberColumn {
  max-width: 20px;
}

.emptyListCol {
  text-align: center;
}

.header-align-right.mat-header-cell {
  margin-right: 30px;
}

td.header-align-right button {
  margin-left: 10px;
}
