.mainContainer{
    padding: 2% 10%;
}

.mainTitle {
    font-size: 6em;
    margin: 5% auto;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}

.quizDetailsRow{
    padding: 20px 40px;
    background-color: #426280;
    border-radius: 20px;
}

h2{
    color: white;
    font-size: 2.3em;
    font-weight: 300;
    margin: auto 0
}

.instructionsHeading{
    font-size: 3em;
    /* font-weight: bold; */
    margin: 2% 0 0;
}

.instructions{
    font-size: 2em;
    margin: 20px 30px;
    font-weight: 300;
}