<div class="container-fluid mainContainer">
    <div *ngIf="isLoaded && quiz != null">
        <h1 class="mainTitle">Math Midterm 1</h1>
        <div class="quizDetailsRow d-flex justify-content-between">
            <h2>20 Questions</h2>
            <h2>120 Minutes</h2>
            <h2>Due August 23</h2>
        </div>
        <h1 class="instructionsHeading">Instructions</h1>
        <div [innerHTML]="quiz.Instructions" class="mt-4 px-4 instructions"></div>
    </div>
    <mat-spinner *ngIf="!isLoaded" class="m-auto"></mat-spinner>
</div>