.navbar {
    background-color: #f3f3f3;
}

.nav-item {
    font-size: 1.2em;
    margin: auto 40px;
}

.nav-item:hover {
    color: black;
    font-weight: 500;
    /* font-size: larger; */
}

.nav-item.active {
    font-weight: 500;
    text-underline-offset: 5px;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
        /* background-color: #f3f3f3; */
    }
    .navbar .nav-item:hover .dropdown-menu li a{
        padding: 10px auto;
        font-size: 1.2em;
    }
    .navbar .nav-item:hover .dropdown-menu li:hover a{
        font-weight: 500;
    }

    .navbar .nav-item:hover .dropdown-menu li a.active{
        font-weight: 500;
        background-color: white;
        color: black;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}