<div class="container-fluid p-5">
    <div class="row" style="align-items: center;">
        <h1 class="mainTitle">Take a Quiz</h1>
    </div>
    <div class="row mt-5">
        <div class="col-lg m-auto">
            <div class="d-flex justify-content-center row">
                <mat-form-field class="quizCodeInput">
                    <mat-label>Enter Quiz Code</mat-label>
                    <input matInput name="quizCode" autofocus (input)="getQuizFromCode($event)" maxlength="5"
                        [(ngModel)]="quizCode" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="buttonRow mx-auto mt-4" *ngIf="isLoaded && quizTitle.length > 0 && quizCode.length == 5">
                <button mat-flat-button class="large darkBlue takeQuizButton"
                    (click)="quizClick()">{{quizTitle}}</button>
            </div>
            <mat-spinner class="mx-auto" *ngIf="!isLoaded"></mat-spinner>
        </div>
        <div class="col-lg">
            <img src="../../../../assets/images/method-draw-image.svg" width="100%">
        </div>
    </div>
</div>
