<div class="d-flex align-items-stretch h-100 flex-wrap-reverse">
  <div class="col-lg-6 blueSec p-md-5 smallerMobileCol align-items-center">
    <div class="col h-50 flex-grow text-center justify-content-center hideMobile">
      <h1>ET3ALLIM</h1>
      <h2 class="secondTitle">Easily Create Quizzes</h2>
    </div>
    <div class="col h-lg-50 flex-grow text-center justify-content-center align-items-center fullHeightMobile">
      <button mat-flat-button class="grey row" color="primary" routerLink="../login">Back to login</button>
    </div>
  </div>
  <div class="col-lg-6 d-flex-col mainSec px-0 py-md-5 py-2 LargerMobileCol">
    <h2 class="recoverTitle largeHorizontalPadding">Reset Password</h2>
    <hr>

    <div class="container-fluid formSection text-center">
      <form class="col text-center align-middle" [formGroup]="form" (submit)="resetPassword()">
        <mat-form-field hideRequiredMarker="true" class="row-12">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" minlength="8" maxlength="20">
          <mat-error>{{getFormErrors(form, 'password')}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field hideRequiredMarker="true" class="row-12">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher"
            [disabled]="form.get('password').invalid">
          <mat-error>Passwords do not match</mat-error>
        </mat-form-field>
        <div class="row-12 text-center mt-4 registerButton">
          <button mat-flat-button class="red" color="primary" type="submit" [disabled]="form.invalid">Reset
            Password</button>
        </div>
      </form>
      <mat-spinner class="my-5" *ngIf="isLoading"></mat-spinner>
    </div>
  </div>
</div>