################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ET3ALEM_SERVER/Server_Application/bin/Debug/netcoreapp3.1
