<div class="container-fluid m-0" *ngIf="isLoaded">
    <h1 class="quizTitle">{{quiz.Name}}</h1>
    <div *ngFor="let questionAttempt of quizAttempt.QuestionsAttempts; let i = index" class="questionsContainer">
        <div class="row question">
            <h2 class="QuestionTitle" style="width: fit-content;">Question {{i+1}}</h2>
            <h2 style="margin-left: auto;">{{questionAttempt.QuizQuestion.Grade.toString() + (questionAttempt.QuizQuestion.Grade > 1 ? ' Points' : 'Point') }}</h2>
        </div>
        <answer-question-header #AnswerQuestion class="answerQuestionComponent row" [questionAttempt]="questionAttempt">
        </answer-question-header>
        <hr style="background-color: #474747; margin: 100px auto;">
    </div>

    <count-down-timer class="countdown" [endDate]="endDate" (finished)="quizFinished()" *ngIf="!quiz.UnlimitedTime">
    </count-down-timer>
    <button mat-flat-button class="medium darkBlue submitButton" (click)="submitQuiz()">Submit</button>
</div>
