<div class="container-fluid p-5 parentContainer" *ngIf="isLoaded">
    <h1 class="blueHeader">{{ mode == 1 ? 'Create Quiz' : 'Edit Quiz' }}</h1>

    <div class="container-fluid px-5 py-3">

        <!-- Quiz Basic Data -->
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title class="boldPanelTitle">
                    Quiz Basic Data
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container-fluid px-4">
                <mat-form-field class="mx-5">
                    <mat-label>Quiz Title</mat-label>
                    <input matInput [formControl]="quizTitle" required autofocus>
                    <mat-error>{{getControlErrors(quizTitle, 'quiz title')}}</mat-error>
                </mat-form-field>
                <div class="row px-3">
                    <h2 class="col-12" *ngIf="richTextLoaded">Quiz Instructions</h2>
                    <app-rich-text-editor #RichTextEditorComponent [control]="quizInstructions" class="col-12"
                        (onLoad)="richTextLoaded = true"></app-rich-text-editor>
                    <mat-spinner *ngIf="!richTextLoaded" class="my-5 mx-auto" style="text-align: center;"></mat-spinner>
                </div>
            </div>

        </mat-expansion-panel>

        <!-- Timing Settings -->
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title class="boldPanelTitle">
                    Extra Settings
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container-fluid px-4">
                <h2 class="mt-4">Duration</h2>
                <div class="row px-5 align-items-center">
                    <mat-form-field class="smallMatInput mr-4 col-2">
                        <input matInput placeholder="hours" [formControl]="durationHours" type="number" max="5" min="0">
                        <mat-error>{{getControlErrors(durationHours, 'hours')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="smallMatInput col-2">
                        <input matInput placeholder="minutes" [formControl]="durationMinutes" type="number" min="0">
                        <mat-error>{{getControlErrors(durationMinutes, 'minutes')}}</mat-error>
                    </mat-form-field>
                    <mat-checkbox class="col-2 largeCheckBox" [formControl]="unlimitedTime"
                        (change)="toggleDisable($event.checked, ['durationHours', 'durationMinutes'])">Unlimited Time
                    </mat-checkbox>
                </div>
                <h2 class="mt-4 mb-0 pb-0">Dates</h2>
                <div class="row px-4 align-items-center m-0">
                    <mat-form-field class="col-lg-2">
                        <input matInput [ngxMatDatetimePicker]="startDate" placeholder="start date"
                            [formControl]="dueStart" [max]="noDueDate.value ? null : subtractDays(dueEnd.value)"
                            [min]="today">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #startDate [showSeconds]="false"></ngx-mat-datetime-picker>
                    </mat-form-field>
                    <mat-form-field class="col-lg-2">
                        <input matInput [ngxMatDatetimePicker]="endDate" placeholder="end date" [formControl]="dueEnd"
                            [disabled]="noDueDate.value" [min]="dueStart.value">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #endDate></ngx-mat-datetime-picker>
                    </mat-form-field>

                    <mat-checkbox class="col-lg-2 largeCheckBox" [formControl]="noDueDate"
                        (change)="toggleDisable($event.checked, ['dueEnd'])">No Due Date</mat-checkbox>
                </div>
                <h2 class="mt-4">Quiz Attempts</h2>
                <div class="row px-5 align-items-center">
                    <mat-form-field class="smallMatInput col-2">
                        <input matInput placeholder="Allowed Attempts" [formControl]="allowedAttempts" type="number"
                            min="0">
                        <mat-error>{{getControlErrors(allowedAttempts, 'attempts')}}</mat-error>
                    </mat-form-field>
                    <mat-checkbox class="col-2 largeCheckBox" [formControl]="unlimitedAttempts"
                        (change)="toggleDisable($event.checked, ['allowedAttempts'])">Unlimited Attempts
                    </mat-checkbox>
                </div>
                <h2 class="mt-4">Grading</h2>
                <div class="row">
                    <mat-checkbox class="px-5 col-3 largeCheckBox" [formControl]="showGrade">Show Grade After Quiz
                    </mat-checkbox>
                    <mat-checkbox class="px-5 col-3 largeCheckBox" [formControl]="autoGrade">Auto Grade The Quiz
                    </mat-checkbox>
                </div>


            </div>
        </mat-expansion-panel>

        <!-- Questions -->
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title class="boldPanelTitle">
                    Questions
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container-fluid px-2" (cdkDropListDropped)="drop($event)" cdkDropList>
                <div class="row mb-3" *ngFor="let question of questions; let i = index" cdkDrag cdkDragLockAxis="y">
                    <div class="dragHandle m-auto" cdkDragHandle matTooltip="Drag To Reorder">
                        <mat-icon>open_with</mat-icon>
                    </div>
                    <mat-expansion-panel style="width: 90%" class="m-0" expanded>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="questionTitle">
                                {{'Question ' + (i + 1)}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-create-question #CreateQuestionComponent [question]="question"
                            [grade]="getGradeFromQuestion(question)"></app-create-question>
                    </mat-expansion-panel>

                    <button mat-icon-button class="m-auto">
                        <mat-icon class="copyIconButton" matTooltip="duplicate" (click)="duplicateQuestion(i)">file_copy</mat-icon>
                    </button>
                    <button mat-icon-button class="m-auto">
                        <mat-icon class="deleteIconButton" matTooltip="delete" (click)="deleteQuestion(question)">delete</mat-icon>
                    </button>
                </div>

                <div class="row addQuestionRow">
                    <button mat-flat-button class="blue medium" (click)="addQuestion()">Add Question</button>
                    <button mat-flat-button class="darkBlue medium" (click)="addFromCollection()">Add From
                        Collection</button>
                </div>

            </div>
        </mat-expansion-panel>

        <!-- Question Settings -->
        <mat-expansion-panel *ngIf="questions.length > 1">
            <mat-expansion-panel-header>
                <mat-panel-title class="boldPanelTitle">
                    Question Settings
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="container-fluid px-4">
                <div class="mb-5">
                    <h2>Question Order</h2>
                    <div class="row align-items-center">
                        <mat-checkbox class="largeCheckBox ml-5 col-3" [formControl]="randomOrderQuestions">Randomly
                            Order Questions
                        </mat-checkbox>
                    </div>
                </div>

                <div *ngIf="randomOrderQuestions.value">
                    <h2>Question Count</h2>
                    <div class="row align-items-center ">
                        <mat-checkbox class="largeCheckBox ml-5 col-3" [formControl]="includeAllQuestions">
                            Include All Questions
                        </mat-checkbox>
                        <div *ngIf="!includeAllQuestions.value && questions.length > 0">
                            <mat-form-field class="col-3">
                                <input matInput placeholder="Question Count" type="number" min="1"
                                    [max]="questions.length" [formControl]="includedQuestionsCount">
                                    <mat-error style="font-size: smaller;">{{getControlErrors(includedQuestionsCount, 'count')}}</mat-error>
                            </mat-form-field>
                            <span>only {{getIncludeQuestionsCountText()}} out of {{questions.length}} questions will be
                                included for each quiz</span>
                        </div>

                    </div>
                </div>

            </div>
        </mat-expansion-panel>

        <div class="d-flex justify-content-around mt-4">
            <button mat-flat-button class="red large"
                [routerLink]="mode == 1 ? '../manage' : '../../manage'">Cancel</button>
            <button mat-flat-button class="blue large" [disabled]="!quizTitle.valid || (!includeAllQuestions.value && !includedQuestionsCount.valid)"
                (click)="mode == 1 ? createQuiz() : updateQuiz()" type="submit">Save</button>
        </div>
    </div>

</div>

<mat-spinner *ngIf="!isLoaded" class="my-5 mx-auto" style="text-align: center;"></mat-spinner>
