<div class="container-fluid p-5 parentContainer" *ngIf="isLoaded">
    <h1 class="blueHeader">{{ mode == 1 ? 'Create Quiz' : 'Edit Quiz' }}</h1>

    <div class="container-fluid px-5 py-3">

        <!-- Quiz Basic Data -->
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title class="boldPanelTitle">
                    Quiz Basic Data
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container-fluid px-4">
                <mat-form-field class="mx-5">
                    <mat-label>Quiz Title</mat-label>
                    <input matInput [formControl]="quizTitle" required autofocus>
                    <mat-error>{{getControlErrors(quizTitle, 'quiz title')}}</mat-error>
                </mat-form-field>
                <div class="row px-3">
                    <h2 class="col-12">Quiz Instructions</h2>

                    <app-rich-text-editor #RichTextEditorComponent [control]="quizInstructions" class="col-12"></app-rich-text-editor>

                </div>
            </div>

        </mat-expansion-panel>

        <!-- Timing Settings -->
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title class="boldPanelTitle">
                    Timing Settings
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container-fluid px-4">
                <h2 class="mt-4">Duration</h2>
                <div class="row px-5 align-items-center">
                    <mat-form-field class="smallMatInput mr-4 col-2">
                        <input matInput placeholder="hours" [formControl]="durationHours" type="number" max="5" min="0">
                        <mat-error>{{getControlErrors(durationHours, 'hours')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="smallMatInput col-2">
                        <input matInput placeholder="minutes" [formControl]="durationMinutes" type="number" max="59"
                            min="0">
                        <mat-error>{{getControlErrors(durationMinutes, 'minutes')}}</mat-error>
                    </mat-form-field>
                    <mat-checkbox class="col-2 largeCheckBox" [formControl]="unlimitedTime"
                        (change)="toggleDisable($event.checked, ['durationHours', 'durationMinutes'])">Unlimited Time
                    </mat-checkbox>
                </div>
                <h2 class="mt-4 mb-0 pb-0">Dates</h2>
                <div class="row px-4 align-items-center m-0">
                    <mat-form-field class="col-2">
                        <input matInput [matDatepicker]="startDate" placeholder="start date" [formControl]="dueStart"
                            [max]="subtractDays(dueEnd.value)" [min]="today">
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-2">
                        <input matInput [matDatepicker]="endDate" placeholder="end date" [formControl]="dueEnd"
                            [disabled]="noDueDate.value" [min]="dueStart.value">
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                    </mat-form-field>

                    <mat-checkbox class="col-2 largeCheckBox" [formControl]="noDueDate"
                        (change)="toggleDisable($event.checked, ['dueEnd'])">No Due Date</mat-checkbox>
                </div>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="boldPanelTitle">
                    Questions
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="container-fluid px-2">

                <div class="row mb-3" *ngFor="let question of questions; let i = index">
                    <mat-checkbox class="m-auto"></mat-checkbox>

                    <mat-expansion-panel style="width: 90%" class="m-0">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="questionTitle">
                                {{'Question ' + (i + 1)}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-create-question #CreateQuestionComponent [question] = "question"></app-create-question>
                    </mat-expansion-panel>

                    <button mat-icon-button class="m-auto">
                        <mat-icon class="deleteIconButton" (click)="deleteQuestion(question)">delete</mat-icon>
                    </button>
                </div>


                <div class="row addQuestionRow">
                    <button mat-flat-button class="blue medium" (click)="addQuestion()">Add Question</button>
                </div>

            </div>
        </mat-expansion-panel>

        <div class="d-flex justify-content-around mt-4">
            <button mat-flat-button class="red large" [routerLink] = "mode == 1 ? '../manage' : '../../manage'">Cancel</button>
            <button mat-flat-button class="blue large" [disabled]="!quizTitle.valid"
                (click)="mode == 1 ? createQuiz() : updateQuiz()">Save</button>
        </div>
    </div>

</div>

<mat-spinner *ngIf="!isLoaded" class="my-5 mx-auto" style="text-align: center;"></mat-spinner>