<div class="container-fluid p-5 h-100">
    <div class="row" style="align-items: center;">
        <h1 class="mainTitle">Take a Quiz</h1>
    </div>
    <div class="row textBoxRow">
        <div class="row m-auto">
            <mat-form-field>
                <mat-label>Enter Quiz Code</mat-label>
                <input matInput name="quizCode" autofocus (input)="getQuizFromCode($event)" maxlength="5"
                    [(ngModel)]="quizCode">
            </mat-form-field>
        </div>
    </div>

    <div class="buttonRow" *ngIf="quizTitle.length > 0 && quizCode.length == 5">
        <button mat-flat-button class="large darkBlue takeQuizButton">{{quizTitle}}</button>
    </div>

</div>