.mainTitle {
    font-size: 5vw;
    margin: 2% auto;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
}

.mat-form-field {
    font-size: 3em;
    text-align: center;
    width: 20vw;
}
.mat-form-field input{
    font-size: 2em;
}

.buttonRow{
    text-align: center;
}

.takeQuizButton:hover{
    background-color: #4d81b1;
}

.takeQuizButton{
    min-width: 200px;
}

