<div class="container-fluid p-5 h-100">
    <div class="row" style="align-items: center;">
        <h1 class="mainTitle">Take a Quiz</h1>
    </div>
    <div class="row textBoxRow">
        <div class="row m-auto">
            <mat-form-field>
                <mat-label>Enter Quiz Code</mat-label>
                <input matInput required autofocus (input)="">
            </mat-form-field>
        </div>
    </div>
    <div style="background-color: rgb(41, 87, 124); color: white; padding: 10px; max-width: 50vw; border-radius: 10px;"
        class="d-flex flex-row mx-auto">
        <h2 style="font-size: 2em; align-self: flex-start; margin: 10px;">MATH: Midterm 1</h2>
        <mat-icon class="my-auto mr-2 ml-auto" style=" align-self: flex-end; justify-self: end; transform: scale(2);">
            keyboard_arrow_right
        </mat-icon>
    </div>

</div>