<div class="container-fluid">
    <div class="d-flex flex-row justify-content-between">

        <div>
            <h2 class="formLabelHeader mb-0">Type</h2>
            <mat-form-field class="ml-5 mb-3">
                <mat-select [formControl]="questionTypeFC" (selectionChange)="onQuestionTypeChange($event)">
                    <mat-option *ngFor="let type of questionTypes" [value]="type.value">
                        {{type.text}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="!hideGrade">
            <h2 class="formLabelHeader mb-0">Grade</h2>
            <mat-form-field class="mr-5 ml-5 smallMatInput">
                <input matInput type="number" [formControl]="grade">
            </mat-form-field>
        </div>
    </div>

    <h2 class="formLabelHeader">Question Content</h2>
    <app-rich-text-editor #RichTextEditorComponent [control]="questionContentFC" (onLoad)="isLoaded = true">
    </app-rich-text-editor>

    <mat-divider class="my-4"></mat-divider>

    <ng-template dynamicComponentHost></ng-template>

    <div style="text-align: center;" class="my-4">
        <button mat-flat-button class="green mx-2" (click)="showCommentBox = true" *ngIf="!showCommentBox">Add
            Comment</button>
        <div *ngIf="showCommentBox">
            <mat-form-field class="mx-3 commentTextArea">
                <mat-label>Additional Comments</mat-label>
                <textarea matInput placeholder="Comment" [formControl]="commentFC"></textarea>
            </mat-form-field>

            <button mat-flat-button class="red mx-3" (click)="commentFC.setValue(null); showCommentBox = false">Remove
                Comment</button>
        </div>

    </div>


</div>
