.formLabelHeader {
  font-size: 1.5em;
  font-weight: normal;
}

.justify-center {
  justify-content: center;
}

mat-form-field.smallMatInput {
  max-width: 3vw;
  min-width: 50px;
  font-size: larger;
}

mat-form-field.commentTextArea {
  width: 70%;
  min-width: 500px;
  font-size: larger;
}
