<div class="parentContainer m-0 p-0">
  <div class="row mainPageSection">
    <div class="col-6 m-0 pl-sm-4 pl-lg-5"
         style="display: flex; flex-direction: column; align-self: end">
      <h1 class="mainTitle light row">Easy</h1>
      <h1 class="mainTitle mid row">Smart</h1>
      <h1 class="mainTitle dark row m-0">Quiz Maker</h1>
    </div>
    <div class="col-6 p-0 m-0" style="display: flex; align-items: end;">
      <img src="../../../../assets/images/undraw_online_test_gba7 (1).svg"
           class="ml-auto" width="100%">
    </div>
  </div>
  <div class="sectionTitleContainer">
    <h2 class="sectionTitle">ALL THE FEATURES YOU WANT. AND MORE...</h2>
  </div>
  <div
    class="row px-5 featuresRow justify-content-around">
    <div class="col-lg-3 shadow featuresCol" style="background-color: #4d81b1">
      <mat-icon>save</mat-icon>
      <h2>Auto Save</h2>
      <div>
        <p>When taking a quiz, you won’t lose your progress. The quiz auto-saves
          so you can resume later</p>
      </div>
    </div>
    <div class="col-lg-3 shadow featuresCol" style="background-color: #456f91">
      <mat-icon>playlist_add_check</mat-icon>
      <h2>Auto Grading</h2>
      <div>
        <p>No need to manually grade quizzes. Our smart grading system will
          grade quizzes after they are submitted</p>
      </div>
    </div>
    <div class="col-lg-3 shadow featuresCol" style="background-color: #425177">
      <mat-icon>collections_bookmark</mat-icon>
      <h2>Question Collections</h2>
      <div>
        <p>Create question collections that you can re-use and customize in
          multiple quizzes</p>
      </div>
    </div>
  </div>

  <div class="sectionTitleContainer">
    <h2 class="sectionTitle">COMMITTED TO IMPROVEMENT</h2>
  </div>
  <div class="row m-0 px-5 mb-4">
    <h3 class="col-md-7 appInfoText">
      <strong>ET3ALLIM</strong> is always improving with new features being
      added.<br>We
      strongly value your feedback and suggestions
    </h3>
    <div class="col-md-5" style="text-align: center">
      <button mat-flat-button class="blue m-auto contactUsBtn"
              routerLink="contact">Contact Us</button>
    </div>

  </div>
</div>


