<div class="container-fluid px-0 m-0 py-0 row" style="height: 100%">
  <div class="col-lg-4 p-0 m-0 pl-4" style="display: flex; flex-direction: column; justify-content: center;">
    <h1 class="mainTitle light row">Easy</h1>
    <h1 class="mainTitle mid row">Secure</h1>
    <h1 class="mainTitle dark row">Quizzes</h1>
  </div>
  <div class="col-lg-8 p-0 m-0" style="display: flex; align-items: center;">
    <img src="../../../../assets/images/undraw_online_test_gba7 (1).svg" class="ml-auto" width="90%">
  </div>
</div>
