table.mat-table {
    width: 80%;
    margin: auto;
}

.mat-header-cell {
    font-size: 1.2em;
}

.mat-cell {
    font-size: 1.2em;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.alignRight {
    text-align: right;
    justify-content: flex-end;
}
