table.mat-table {
    width: 80%;
    margin: auto;
}

.mat-header-cell {
    font-size: 1.2em;
}

.mat-cell {
    font-size: 1.2em;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}