<!-- <nav class="navbar navbar-expand p-3">
    <ul class="nav navbar-nav mx-auto">
        <li class="nav-item title">Welcome, Ahmed</li>
    </ul>
    <ul class="nav navbar-nav">
        <img class="rounded-circle profileImage" src="../../../../assets/images/undraw_male_avatar_323b.svg"
            data-holder-rendered="true" width="60" height="60">
    </ul>
</nav> -->

<div class="container-fluid mainContent">
    <h1 class="text-center align-middle secondaryTitle">What Would You Like To Do Today?</h1>

    <div class="row mt-5 px-3 pt-3">
        <div class="col-lg blurb">
            <a [routerLink]="'take'">
                <div class="card">
                    <img src="../../../../assets/images/undraw_exams_g4ow.svg" height="350" width="350">
                    <h2 class="blurbHeading">Take a Quiz</h2>
                </div>
            </a>
        </div>

        <div class="col-lg blurb">
            <a [routerLink]="'create'">
                <div class="card">
                    <img src="../../../../assets/images/undraw_teaching_f1cm.svg" height="350" width="350">
                    <h2 class="blurbHeading">Create a Quiz</h2>
                </div>
            </a>
        </div>

        <div class="col-lg blurb">
            <a [routerLink]="'manage'">
                <div class="card">
                    <img src="../../../../assets/images/undraw_opened_tabs_ly11.svg" height="350" width="350">
                    <h2 class="blurbHeading">Manage</h2>
                </div>
            </a>
        </div>
    </div>
</div>