<div class="container-fluid">
    <!-- <h1>{{QuestionTitle}}</h1> -->
    <h2 class="formLabelHeader mb-0">Type</h2>
    <mat-form-field class="ml-5 mb-3">
        <mat-select [formControl]="questionTypeFC" (selectionChange)="onQuestionTypeChange($event)">
            <mat-option *ngFor="let type of questionTypes" [value]="type.value">
                {{type.text}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <h2 class="formLabelHeader">Question Content</h2>
    <app-rich-text-editor [control]="questionContentFC"></app-rich-text-editor>

    <mat-divider class="my-4"></mat-divider>

    <h2 class="formLabelHeader">{{ questionTypeFC.value == 0 ? 'Answers' : 'Answer'}}</h2>

    <mat-list class="ml-5" *ngIf="questionTypeFC.value == 0">
        <div class="row" mat-list-item *ngFor="let choice of choices">
            <mat-checkbox class="my-auto mr-4 p-2"></mat-checkbox>
            <mat-form-field class="answerInputText">
                <textarea matInput required cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                    placeholder="Answer Text" [(ngModel)]="choice.Body"></textarea>
            </mat-form-field>
        </div>
    </mat-list>

    <div class="row" *ngIf="questionTypeFC.value == 1">
        <mat-button-toggle-group name="True / False" class="mx-auto">
            <mat-button-toggle value="true" class="true" [checked]="trueOrFalse">True</mat-button-toggle>
            <mat-button-toggle value="false" class="false" [checked]="!trueOrFalse">False</mat-button-toggle>
        </mat-button-toggle-group>
    </div>


</div>