<div class="container-fluid">
    <!-- <h1>{{QuestionTitle}}</h1> -->
    <h2 class="formLabelHeader mb-0">Type</h2>
    <mat-form-field class="ml-5 mb-3">
        <mat-select [formControl]="questionTypeFC" (selectionChange)="onQuestionTypeChange($event)">
            <mat-option *ngFor="let type of questionTypes" [value]="type.value">
                {{type.text}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <h2 class="formLabelHeader">Question Content</h2>
    <app-rich-text-editor #RichTextEditorComponent [control]="questionContentFC"></app-rich-text-editor>

    <mat-divider class="my-4"></mat-divider>

    <h2 class="formLabelHeader">{{ questionTypeFC.value == 1 ? 'Answers' : 'Answer'}}</h2>

    <mat-list class="ml-1" *ngIf="questionTypeFC.value == 1">
        <div class="row" mat-list-item *ngFor="let choice of choices">
            <button mat-icon-button class="mr-2 my-auto" (click)="removeChoice(choice)" [disabled]="choices.length == 1">
                <mat-icon>delete</mat-icon>
            </button>
            <mat-form-field class="answerInputText">
                <textarea matInput required cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                    placeholder="Choice Text" [(ngModel)]="choice.Body"></textarea>
            </mat-form-field>
            <mat-checkbox class="ml-3 my-auto" [checked]="choice.IsAnswer"
                (change)="correctAnswerCheckChange(choice, $event.checked)">Correct Answer</mat-checkbox>
        </div>
        <button mat-flat-button class="grey" (click)="addChoice()">Add Choice</button>
    </mat-list>

    <div class="row" *ngIf="questionTypeFC.value == 0">
        <mat-button-toggle-group name="True / False" class="mx-auto" [(ngModel)]="trueOrFalse">
            <mat-button-toggle [value]="true" class="true">True</mat-button-toggle>
            <mat-button-toggle [value]="false" class="false">False</mat-button-toggle>
        </mat-button-toggle-group>
    </div>


</div>