/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Used to override bootstrap styling on angular material buttons */

.mat-flat-button:focus, .mat-flat-button:active:focus, .mat-flat-button.active:focus {
    outline: none !important;
    outline-style: none !important;
}

.mat-flat-button.grey {
    background-color: lightgray;
    color: black;
}

.mat-flat-button{
    border-radius: 10px !important;
    color: white;
}

.mat-flat-button.blue {
    background-color: #5F8EBA;
}

.mat-flat-button.red {
    background-color: #CF6868;
}