/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Used to override bootstrap styling on angular material buttons */
.mat-flat-button:focus, .mat-flat-button:active:focus, .mat-flat-button.active:focus {
    outline: none !important;
    outline-style: none !important;
}