/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Used to override bootstrap styling on angular material buttons */

.mat-flat-button:focus, .mat-flat-button:active:focus, .mat-flat-button.active:focus, .mat-icon-button:focus, .mat-icon-button.active:focus, .mat-icon-button:active:focus {
    outline: none !important;
    outline-style: none !important;
}

.mat-flat-button.grey {
    background-color: lightgray;
    color: black;
}

.mat-flat-button {
    border-radius: 10px !important;
    color: white;
}

.mat-flat-button.blue {
    background-color: #5F8EBA;
}

.mat-flat-button.darkBlue {
    background-color: #426280;
}

.mat-flat-button.red {
    background-color: #CF6868;
}

.mat-flat-button.green {
    background-color: #4e9952;
}

.mat-flat-button.large {
    font-size: 3em;
    padding: 0.5em 2.5em;
}

.mat-flat-button.medium {
    font-size: 2em;
    padding: 0.3em 1.1em;
    font-weight: 300;
}

.mat-flat-button:hover{
    opacity: 0.9;
}

.largeCheckBox {
    font-size: 1.7em;
    font-weight: 300;
}

h1.topBoldTitle {
    font-size: 4em;
    font-weight: 900;
    text-align: center;
}

h2.secondaryTitle{
    font-size: 3.5em;
    font-weight: 200;
    text-align: center;
}

.sideBubble {
    height: 100%;
    background: green;
    color: white;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    margin-left: 30px;
}

.sideBubble::before{
    content: "";
    position: absolute;
    right: 100%;
    top: 30%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid green;
    border-bottom: 13px solid transparent;
}

.isWrongAnswer{
    background-color:rgb(168, 48, 48);
}

.sideBubble.isWrongAnswer::before{
    border-right-color: rgb(168, 48, 48);
}

.sideBubble h2{
    text-align: center;
    margin: auto;
}

.questionBody{
    font-size: 1.8em;
    line-height: 1.2em;
}

.alignRight {
    text-align: right;
    justify-content: flex-end;
}