<div class="d-flex align-items-stretch h-100 flex-wrap-reverse">
    <div class="col-lg-6 blueSec p-md-5 smallerMobileCol align-items-center">
        <div class="col h-50 flex-grow text-center justify-content-center hideMobile">
            <h1>ET3ALLIM</h1>
            <h2 class="secondTitle">Easily Create Quizzes</h2>
        </div>
        <div class="col h-lg-50 flex-grow text-center justify-content-center align-items-center fullHeightMobile">
            <button mat-flat-button class="grey row" color="primary" routerLink="../login">Back to login</button>
        </div>
    </div>
    <div class="col-lg-6 d-flex-col mainSec px-0 py-md-5 py-2 LargerMobileCol">
        <h2 class="recoverTitle largeHorizontalPadding">Recover Password</h2>
        <hr>

    <div class="container-fluid formSection text-center">
      <mat-form-field hideRequiredMarker="true" class="row-12">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="email">
        <mat-error>{{getControlErrors(email, 'email')}}</mat-error>
      </mat-form-field>
      <div class="row-12 text-center mt-4">
        <button mat-flat-button class="red sendMailButton" color="primary" type="submit" [disabled]="email.invalid"
          (click)="sendRecoveryMail()">Send</button>
      </div>
    </div>
  </div>
</div>
