<div class="d-flex align-items-stretch h-100 flex-wrap-reverse">
    <div class="col-lg-6 blueSec p-md-5 smallerMobileCol align-items-center">
        <div class="col h-50 flex-grow text-center justify-content-center hideMobile">
            <h1>ET3ALLIM</h1>
            <h2 class="secondTitle">Easily Create Quizzes</h2>
        </div>
        <div class="col h-lg-50 flex-grow text-center justify-content-center align-items-center fullHeightMobile">
            <p class="mb-4 RegisterButtonLabel">Don't have an account yet?</p>
            <button mat-flat-button class="grey row" color="primary" routerLink="../register">Register</button>
        </div>
    </div>
    <div class="col-lg-6 d-flex-col mainSec px-0 py-md-5 py-4 LargerMobileCol justify-content-between">
        <h2 class="formTitle largeHorizontalPadding">Sign in</h2>
        <hr>

        <div class="container-fluid fromSection">
            <form class="col text-center align-middle" [formGroup]="loginForm" (submit)="login()">
                <mat-form-field hideRequiredMarker="true" class="row-12">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error>{{getFormErrors(loginForm, 'email')}}</mat-error>
                </mat-form-field>
                <mat-form-field hideRequiredMarker="true" class="row-12">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" minlength="8" maxLength="20">
                    <mat-error>{{getFormErrors(loginForm, 'password')}}</mat-error>
                </mat-form-field>
                <div class="row-12 text-center mt-4">
                    <button mat-flat-button class="red loginButton" color="primary" type="submit" [disabled]="loginForm.invalid">Sign in</button>
                </div>
            </form>
            <div class="row-12 largeHorizontalPadding text-center mt-5">
                <p class="RecoverButtonLabel">Forgot your password?</p>
                <button mat-flat-button class="blue recoverButton" color="primary" routerLink="../passwordRecover">Recover
                    Password</button>
            </div>
            <div>
                <h2>External Providers</h2>
                <div class="row-12 text-center mt-4">
                    <button mat-flat-button class="red loginButton" color="primary" type="button" (click)="externalLogin()">Google</button>
                </div>
            </div>
            <mat-spinner class="my-5 mx-auto" *ngIf="isLoading"></mat-spinner>
        </div>

    </div>
</div>